{% extends['layout/layout.html.twig'] %}

{% block title %}
	user
{% endblock %}


{% block content %}
	<ul class="nav nav-pills">
		<li><a href="?page=user&subPage=view">View</a></li>
		<li><a href="?page=user&subPage=create">Create</a></li>
		<li><a href="?page=user&subPage=update">Update</a></li>
	</ul>

	{% if subPage == 'create' %}
			<div class="jumbotron">
				<div class="container">
					<h1>Create Profile</h1>
					<form action="index.php" method="post" role="form">
						<legend>User Creation</legend>

						<div class="container col-lg-5">
							<div class="form-group">
								<input type="email" class="form-control" name="email" id="" placeholder="Email">
								<input type="password" class="form-control" name="password" id="" placeholder="Password">
								<input type="number" class="form-control" name="phone" id="" placeholder="Phone">
								<input type="file" class="form-control" name="phone" id="" placeholder="Billede">
								<button type="submit" name="submit" class="btn btn-primary">Create</button>
								
							</div>
						</div>


					
						
					
					</form>



				</div>
			</div>
		{% elseif subPage == 'update' %}
				<div class="jumbotron">
					<div class="container">
						<h1>Profile Updater</h1>
						<p>Contents...</p>
						<p>
							<a class="btn btn-primary btn-lg">Learn more</a>
						</p>
					</div>
				</div>
		{% else %}
			<div class="jumbotron">
				<div class="container">
					<h1>Profile View</h1>
					<p>Contents...</p>
					<p>
						<a class="btn btn-primary btn-lg">Learn more</a>
					</p>
				</div>
			</div>
	{% endif %}
{% endblock %}

